<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotoğraf Yükle</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header">
        <a href="/main"><img src="../static/img/logo.svg" alt="logo" width="30" height="30">
        </a>
        <ul class="main-list">
            <li class="list__item">
                <a href="{{url_for('logout')}}">
                    <img src="../static/img/login.svg" alt="login" width="20" height="20">
                </a>
                
        </ul>
    </header>
    <div class="main">
        <h1 class="main__title">Fotoğraf Yükle</h1>
        <form action="/background" method="POST" enctype="multipart/form-data" class="creat-form">
            
                <div class="form_card">
                    <input type="file" name="a" id="a" accept="image/*" required class="form__buttonimg" onchange="showPreview(event)">
                    <label for="a" id="fileLabel" class="label-custom" style="left: 10px;">Fotoğrafı Seçin</label>
                    <img id="imagePreview" class="image-preview" alt="Selected Image">
                </div>
                <button type="submit" class="form__buttonimg" id="uploadButton">Yükle</button>
            
        </form>
        
        
    </div>
    {% if file %}
        <div class="main__block">
            <h2 class="main__subtitle">İşlenmiş Resim</h2>
            <img src="{{ url_for('static', filename='resimler/' + file) }}" alt="Processed Image" class="processed-image">
            <a href="{{ url_for('download_file', filename=file) }}" class="form__button">İndir</a>
        </div>
    {% else %}
        <p>resim yok</p>
    {% endif %}


    

    <script>
        function showPreview(event) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("imagePreview");
                var label = document.getElementById("fileLabel");
                var uploadButton = document.getElementById("uploadButton");

                preview.src = src;
                preview.style.display = "block";
                label.style.display = "none";
                uploadButton.style.display = "block";
            }
        }
    </script>
</body>
</html>