<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programcının günlüğü</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script>
        function togglePasswordVisibility() {
            var passwordText = document.getElementById('password');
            var toggleButton = document.getElementById('togglePasswordButton');
            if (passwordText.style.display === 'none') {
                passwordText.style.display = 'block';
                toggleButton.innerText = 'Gizle';
            } else {
                passwordText.style.display = 'none';
                toggleButton.innerText = 'Göster';
            }
        }
        function copyToClipboard() {
            var passwordText = document.getElementById('password').innerText;
            navigator.clipboard.writeText(passwordText).then(function() {
                alert('Şifre panoya kopyalandı!');
            }, function(err) {
                alert('Şifre kopyalanamadı: ', err);
            });
        }
    </script>
</head>
<body>
    <header class="header">
        <a href="/main"><img src="../static/img/logo.svg" alt="logo" width="30" height="30"></a>
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo" width="30" height="30">
        <ul class="main-list">
            <li class="list__item">
                <a href="{{ url_for('logout') }}">
                    <img src="{{ url_for('static', filename='img/login.svg') }}" alt="login" width="20" height="20">
                </a>
        </ul>
    </header>
    <div class="main">
        <div class="main__block">
            <h1>Şifre Oluşturucu</h1>
            <div class="password-box">
                <p id="password">{{ a }}</p>
                <button onclick="togglePasswordVisibility()" id="togglePasswordButton">Gizle</button>
            </div>
            <form action="{{ url_for('password') }}" method="post">
                <button type="submit" class="form__button">Şifre Oluştur</button>
            </form>
            <button onclick="copyToClipboard()" class="form__button">Kopyala</button>
        </div>
    </div>
</body>
</html>
